@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2") url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
.main-header {
  background-color: #ffffff;
  color: #000000;
}
.main-header__logo-image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  margin: 0 auto;
}
.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.site-list__item {
  background: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;
}
.site-list__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 108px 12px 108px;
  display: block;
}
.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.user-list__item {
  background: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;
}
.user-list__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 17px 108px 12px 108px;
  display: block;
}
.contact-item {
  background-color: #81b3d2;
}
.footer-tag {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.navigation-contact-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 47px;
}
.page-footer {
  background-color: #ffffff;
  color: #000000;
  padding-top: 28px;
  padding-bottom: 29px;
  padding-right: 80px;
  padding-left: 84px;
}
.vk {
  fill: #ffffff;
}
.telegram {
  fill: #ffffff;
}
.youtube {
  fill: #ffffff;
}
.contacts-author-development {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.html-academy {
  fill: #000000;
}
.advantages-item.additional-reason-item {
  background: #eeeeee;
  color: #000000;
  padding: 42px 42px 42px 62px;
  text-align: center;
  text-transform: uppercase;
}
.reason__block-title.reason__block-title--other-color {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.reason__block-number.reason__block-number--other-color {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.reason__block-description.reason__block-description--other-color {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.additional-reason-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages-item {
  background-color: #ffffff;
  color: #000000;
  padding-top: 31px;
  padding-bottom: 30px;
}
.advantages-item .advantages-item__image {
  max-width: 100%;
  object-fit: contain;
}
.advantages-item__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}
.advantages-item__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.map {
  background-color: #ffffff;
  color: #000000;
}
.map__pic {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: fill;
}
.picture-container__image {
  vertical-align: middle;
  height: 100%;
  object-fit: fill;
}
.reason {
  background-color: #81b3d2;
  color: #000000;
  text-align: center;
}
.reason__block {
  padding: 33px 22px 40px 16px;
}
.reason__block-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 11px;
}
.reason__block-number {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  display: block;
  margin-bottom: 17px;
}
.reason__block-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: 0;
}
.search-hotel {
  background-color: #ffffff;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 49px;
  padding-right: 29px;
  padding-left: 30px;
}
.search-hotel__question {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
  font-size: 30px;
}
.search-hotel__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.button.button--search-hotel {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 49px;
  border: none;
  display: block;
}
.catalog-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
}
.catalog__item-button {
  border: none;
  background: none;
  margin-right: 14px;
  cursor: pointer;
}
.catalog__item-rating-field {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.catalog__item-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.catalog__item-author {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
.catalog-video-presentation {
  background-color: #ffffff;
  color: #000000;
}
.catalog-video-presentation__intro {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: #000000;
}
.catalog-video-presentation__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.catalog-video-presentation__img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
.catalog {
  background-color: #ffffff;
  color: #000000;
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog__item {
  padding: 24px 20px 25px;
}
.catalog__item-image {
  max-width: 100%;
  object-fit: contain;
  display: block;
  margin-bottom: 15px;
}
.revocation-form {
  background-color: #ffffff;
  color: #000000;
}
.revocation-form__filter-group {
  border: none;
  padding: 0;
}
.revocation-form__filter-group:not(:last-child) {
  margin-bottom: 24px;
}
.revocation-form__filter-group-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding-bottom: 20px;
}
.revocation-form__filter-group-item:not(:last-child) {
  margin-bottom: 30px;
}
.revocation-form__control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.revocation-form__control-input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  text-transform: none;
  padding: 16px;
  border: none;
  color: #000000;
  display: block;
}
.revocation-form__control-button {
  background-color: #e6e6e6;
  border: none;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
}
.revocation-form__control.revocation-form__control-radio {
  position: relative;
  display: block;
  padding-left: 58px;
}
.revocation-form__control-mark {
  position: absolute;
  background: #f2f2f2;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
}
.revocation-form__control-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-transform: none;
}
.revocation-form__control-mark::before {
  content: "";
  position: absolute;
  background-color: #3f5e72;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-position: center;
  top: 15px;
  left: 15px;
  right: 0;
  bottom: 0;
}
.revocation-form__control-checkbox-mark {
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
}
.revocation-form__control-textarea {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.revocation-form__control-input--textarea {
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
}
.revocation-form__required {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #81b3d2;
  width: 100%;
  padding: 18px 34px 13px 32px;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.introduction {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}
.introduction__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.introduction__intro {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}
.main-picture {
  background-image: url("../../img/index/index-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 78px 370px 90px 370px;
}
.main-picture__slogan {
  display: block;
  margin: 0 auto;
}
.modal-container {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.modal-container--close {
  display: none;
}
.modal-container__modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 45px 41px 35px 41px;
  text-align: center;
}
.modal-container__modal-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}
.modal-container__modal-description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
.modal-container__modal-button {
  padding: 18px 62px 14px 60px;
  font-size: 18px;
}
.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background-color: #e5e5e5;
  color: #000000;
  min-height: 100%;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */
