.introduction {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 45px;
}

.introduction__description {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.introduction__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
