.introduction {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 16px;
}

.introduction__description {
  .primary-text-style();
  text-align: center;
  color: #000000;
}

.introduction__intro {
  .additional-text-style();
  text-align: center;
  color: #333333;
}
