.main-picture {
  background-image: url("../../img/index/index-background.jpg");
  background-color: #000000;
  color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 78px 370px 90px 370px;
}

.main-picture__slogan {
  display: block;
  margin: 0 auto;
}
