.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.user-list__item {
  background: #81b3d2;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2);
  text-align: center;
}

.user-list__link {
  .primary-text-style();
  color: #ffffff;
  text-decoration: none;
  padding: 17px 108px 12px 108px;
  display: block;
}
