.advantages-item.additional-reason-item {
  background: #eeeeee;
  color: #000000;
  padding: 42px 42px 42px 62px;
  text-align: center;
  text-transform: uppercase;
}

.reason__block-title.reason__block-title--other-color {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reason__block-number.reason__block-number--other-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.reason__block-description.reason__block-description--other-color {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}
