.advantages-item {
  background-color: #ffffff;
  color: #000000;
  padding-top: 31px;
  padding-bottom: 30px;

  .advantages-item__image {
    max-width: 100%;
    object-fit: contain;
  }
}

.advantages-item__title {
  .primary-text-style();
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.advantages-item__description {
  .additional-text-style();
  color: #333333;
  margin: 0;
}

@media (max-width: @mobile-width-only) {
  .advantages-item:not(:last-child) {
    padding-bottom: 0;
  }

  .advantages-item:last-child {
    padding-bottom: 60px;
  }

  .advantages-item__wrapper {
    display: grid;
    grid-template-columns: 48px 1fr;
    column-gap: 7px;
    row-gap: 10px;
    padding-left: 18px;
  }

  .advantages-item__image {
    grid-column: 1/2;
    width: 48px;
    height: 48px;
  }

  .advantages-item__title {
    grid-column: 2/-1;
    align-self: center;
    justify-self: flex-start;
    margin-bottom: 0;
  }

  .advantages-item__description {
    grid-column: 2/-1;
    justify-self: flex-start;
    align-self: flex-start;
    text-align: left;
  }
}

@media (min-width: @tablet-width) {
  .advantages-item {
    width: 256px;
    flex-grow: 1;
    padding: 60px 36px 59px;
  }
}

@media (min-width: @desktop-width) {
  .advantages-item {
    width: 400px;
    flex-grow: 1;
    padding: 59px 70px 67px;
  }

  .advantages-item__image {
    margin-bottom: 27px;
  }

  .advantages-item__title {
    margin-bottom: 30px;
  }
}
