.advantages-item {
  background-color: #ffffff;
  color: #000000;
  padding-top: 31px;
  padding-bottom: 30px;

  .advantages-item__image {
    max-width: 100%;
    object-fit: contain;
  }
}

.advantages-item__title {
  .primary-text-style();
  color: #000000;
  margin: 0;
  margin-bottom: 16px;
}

.advantages-item__description {
  .additional-text-style();
  color: #333333;
  margin: 0;
}
