.reason {
  background-color: #81b3d2;
  color: #000000;
  text-align: center;
}

.reason__block {
  padding: 33px 22px 40px 16px;
  box-sizing: border-box;
}

.reason__block-title {
  .primary-text-style();
  margin: 0;
  text-align: center;
  color: #ffffff;
  margin-bottom: 11px;
}

.reason__block-number {
  .additional-text-style();
  text-align: center;
  color: #ffffff;
  display: block;
  margin-bottom: 17px;
}

.reason__block-description {
  .additional-text-style();
  text-align: center;
  color: #ffffff;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reason {
    display: flex;
    flex-direction: column;
  }

  .reason__wrapper {
    display: flex;
  }

  .reason__block {
    width: 256px;
    padding: 40px 32px 44px 32px;
  }

  .reason__block-number {
    margin-bottom: 24px;
  }

  .picture-container {
    width: 512px;
  }
}

@media (min-width: @desktop-width) {
  .reason {
    display: flex;
    flex-direction: column;
  }

  .reason__wrapper {
    display: flex;
    align-items: center;
  }

  .reason__block {
    width: 400px;
    padding: 47px 52px 56px 53px;
  }

  .reason__block-number {
    margin-bottom: 24px;
  }

  .picture-container {
    width: 512px;
  }
}
