.reason {
  background-color: #81b3d2;
  color: #000000;
  text-align: center;
}

.reason__block {
  padding: 33px 22px 40px 16px;
}

.reason__block-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 11px;
}

.reason__block-number {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  display: block;
  margin-bottom: 17px;
}

.reason__block-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
