.search-hotel {
  background-color: #ffffff;
  color: #000000;
  padding-top: 38px;
  padding-bottom: 49px;
  padding-right: 29px;
  padding-left: 30px;
}

.search-hotel__question {
  .button-text-style();
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}

.search-hotel__description {
  .button-text-style();
  text-align: center;
  color: #000000;
}

.button.button--search-hotel {
  .button-text-style();
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 16px 49px;
  border: none;
  display: block;
}
