.revocation-form {
  background-color: #ffffff;
  color: #000000;
}

.revocation-form__filter-group {
  border: none;
  padding: 0;
}

.revocation-form__filter-group:not(:last-child) {
  margin-bottom: 24px;
}

.revocation-form__filter-group-title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
}

.revocation-form__filter-group-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.revocation-form__control {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.revocation-form__control-input {
  background-color: #f2f2f2;
  padding: 16px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  display: block;
}

.revocation-form__control-button {
  background-color: #e6e6e6;
  border: none;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
}

.revocation-form__control.revocation-form__control-radio {
  position: relative;
  display: block;
  padding-left: 58px;
}

.revocation-form__control-mark {
  position: absolute;
  background: #f2f2f2;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
}

.revocation-form__control-label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.revocation-form__control-mark::before {
  content: "";
  position: absolute;
  background-color: #3f5e72;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-position: center;
  top: 15px;
  left: 15px;
  right: 0;
  bottom: 0;
}

.revocation-form__control-checkbox-mark {
  position: absolute;
  background: #f2f2f2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 46px;
  height: 46px;
}

.revocation-form__control-textarea {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.revocation-form__control-input--textarea {
  padding: 16px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.revocation-form__required {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
