.catalog-button-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  align-items: flex-end;
}

.catalog__item-button {
  border: none;
  background: none;
  margin-right: 14px;
  cursor: pointer;
}

.catalog__item-rating-field {
  .additional-text-style();
  font-weight: 700;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .catalog-button-wrapper {
    padding: 0;
    padding-bottom: 9px;
  }

  .catalog__item-button {
    margin-right: 9px;
  }

  .catalog__item-rating-field {
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .catalog__item-rating-field {
    color: #ffffff;
  }

  .catalog__item-icon {
    color: #ffffff;
  }
}
