.catalog-video-presentation {
  background-color: #ffffff;
  color: #000000;
}

.catalog-video-presentation__intro {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.catalog-video-presentation__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.catalog-video-presentation__img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}
