.catalog-video-presentation {
  background-color: #ffffff;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.catalog-video-presentation__intro {
  .primary-text-style();
  margin: 0;
  text-align: center;
  color: #000000;
  padding-top: 43px;
}

.catalog-video-presentation__description {
  .additional-text-style();
  text-align: center;
  color: #333333;
  margin-bottom: 38px;
}

.catalog-video-presentation__img {
  max-width: 100%;
  object-fit: contain;
  display: block;
  position: relative;

  &::after {
    content: url("../../../img/catalog/Polygon1.svg");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 48px;
    height: 54px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000000;
    fill: #000000;
  }
}

@media (min-width: @tablet-width) {
  .catalog-video-presentation__intro {
    padding-top: 58px;
    margin-bottom: 28px;
    font-size: 30px;
    line-height: 26px;
  }

  .catalog-video-presentation__description {
    margin: 0;
    margin-bottom: 88px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .catalog-video-presentation__img {
    object-fit: fill;
    width: 100%;
    height: 500px;
    padding-bottom: 40px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-video-presentation__description {
    margin-bottom: 91px;
    padding-left: 377px;
    padding-right: 377px;
  }

  .catalog-video-presentation__img {
    width: 800px;
    padding-bottom: 84px;
  }
}
