.contacts-author-development {
  .additional-text-style();
  text-align: center;
  color: #000000;
  margin-right: 32px;

  &:hover {
    color: #81b3d2;
  }
}

@media (min-width: @tablet-width) or (min-width: @desktop-width) {
  margin-right: 0;
}
